@import '../../assets/css/common.scss';
.v-home {
	.col-1,.col-2,.col-3 {
		position: absolute;
		top: 0;
		bottom: 0;
	}
	.col-1 {
		left: 0;
		width: 100px;
		@include _mainBackgroundColor;
		padding-top: 80px;
		.v-home-user {
			border-radius: 50%;
			width: 53px;
			height: 53px;
			display: block;
			margin-left: 23px;
			cursor: pointer;
			&:hover {
				opacity: 0.8;
			}
		}
		.v-home-menus {
			margin-top: 50px;
			li {
				height: 70px;
				width: 100px;
				text-align: center;
				.v-home-menu {
					width: 100px;
					height: 24px;
					line-height: 24px;
					display: block;
					padding-top: 40px;
					position: relative;
					color: $mainBackgroundColor;
					.v-home-menu-icon {
						position: absolute;
						top: 8px;
						left: 38px;
						font-size: 24px;
					}
					.v-home-menu-text {
						font-size: 16px;
					}
					&.router-link-active {
						background: $mainBackgroundColor;
						.v-home-menu-icon {
							color: #666;
						}
						.v-home-menu-text {
							color: #666;
						}
					}
				}
			}
		}
	}
	.col-2 {
		left: 100px;
		width: 220px;
		background-color: $mainBackgroundColor;
		border-right: 1px solid #f2f2f2;
	}
	.col-3 {
		left: 320px;
		right: 0;
		background-color: $mainBackgroundColor;
	}
}

